<!DOCTYPE html>
{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  <body>
    {% if request.resolver_match.url_name == 'create'  %}
    <h1>Create</h1>
    <form action="{% url 'reviews:create' %}" method='POST' enctype="multipart/form-data">

      {% csrf_token %}
      {% bootstrap_form form %}
      <input class='btn btn-success' type="submit" value='Submit'>
    </form>
    {% elif request.resolver_match.app_name == 'reviews' and request.resolver_match.url_name == 'update'%}
    <h1>update</h1>
    <form action="{% url 'reviews:update' review.pk %}" method='POST' enctype="multipart/form-data">

      {% csrf_token %}
      {% bootstrap_form form %}
      <input class='btn btn-success' type="submit" value='Submit'>
    </form>
    {% endif %}


  </body>

</html>